#main_nav{
	background-color: #00e676 ;
	padding: 5px;
	height: 100px;
}

nav ul li a{
  color: black;
}  

#main_slider{
	/*background-color: red;*/
}


  #tripeople{
	/*background-color: #00c853 ;*/
  }

  #banig {
  	/*background-color: pink;*/
  }

  #trivia {
  	background-color: #00c853 ;
  }

  #footer{
  	/*background-color: red;*/
  }

#footer ul li a{
  color: black;
}  

.side-padding {
	padding: 20px;
}

#feature p {
	padding: 0px;
}

.same-size{
	height: 450px;
	width: 450px;
}

.set-center{
  text-align: center;
}

.italic-grey {
  color:#757575  ;
}

.visibility {
  visibility: hidden;
}

.big-font{
  font-size: 200%;
}